.start_button {
  padding: 0.8em;
  border: 0.1em solid #363862;
  border-radius: 100%;
  /* margin-left: 48% !important; */
  width: 4em;
  height: 4em;
  font-size: medium;
  margin-top: 4em !important;
  background-color: #141526;
  color: white;
}

.information {
  background-color: #26273b;
  height: 40vh;
  width: 50vw;
  border: 0.1em solid #26273b;
  border-radius: 1vmax;
  color: white;
}

.action_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.loading {
  height: 10em;
  width: 10em;
  color: white;
}
